In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string

In [ ]:
import pandas as pd
anime_df = pd.read_csv("/content/drive/My Drive/anime_data/anime.csv")
anime_df.head()

   anime_id                              name  ... rating members
0     32281                    Kimi no Na wa.  ...   9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                          Gintama°  ...   9.25  114262
3      9253                       Steins;Gate  ...   9.17  673572
4      9969                     Gintama&#039;  ...   9.16  151266

[5 rows x 7 columns]

In [ ]:
import pandas as pd
rating_df = pd.read_csv("/content/drive/My Drive/anime_data/rating.csv")
rating_df

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [ ]:
anime_fulldata=pd.merge(anime_df,rating_df,on='anime_id',suffixes= ['', '_user'])
anime_fulldata = anime_fulldata.rename(columns={'name': 'anime_title', 'rating_user': 'user_rating'})
anime_fulldata.head()

   anime_id     anime_title  ... user_id user_rating
0     32281  Kimi no Na wa.  ...      99           5
1     32281  Kimi no Na wa.  ...     152          10
2     32281  Kimi no Na wa.  ...     244          10
3     32281  Kimi no Na wa.  ...     271          10
4     32281  Kimi no Na wa.  ...     278          -1

[5 rows x 9 columns]

In [ ]:
anime_feature=anime_fulldata.copy()
anime_feature["user_rating"].replace({-1: np.nan}, inplace=True)
anime_feature.head()

   anime_id     anime_title  ... user_id user_rating
0     32281  Kimi no Na wa.  ...      99         5.0
1     32281  Kimi no Na wa.  ...     152        10.0
2     32281  Kimi no Na wa.  ...     244        10.0
3     32281  Kimi no Na wa.  ...     271        10.0
4     32281  Kimi no Na wa.  ...     278         NaN

[5 rows x 9 columns]

In [ ]:
anime_feature = anime_feature.dropna(axis = 0, how ='any') 
anime_feature.isnull().sum()

anime_id       0
anime_title    0
genre          0
type           0
episodes       0
rating         0
members        0
user_id        0
user_rating    0
dtype: int64

In [ ]:
anime_feature['user_id'].value_counts()

42635    3747
53698    2905
57620    2689
59643    2632
51693    2620
         ...
4507        1
67112       1
51639       1
50718       1
30683       1
Name: user_id, Length: 69600, dtype: int64

In [ ]:
counts = anime_feature['user_id'].value_counts()
anime_feature = anime_feature[anime_feature['user_id'].isin(counts[counts >= 200].index)]

In [ ]:
anime_pivot=anime_feature.pivot_table(index='anime_title',columns='user_id',values='user_rating').fillna(0)
anime_pivot.head()

user_id                                             5      7      ...  73503  73507
anime_title                                                       ...
&quot;0&quot;                                         0.0    0.0  ...    0.0    0.0
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...    0.0    0.0  ...    0.0    0.0
&quot;Bungaku Shoujo&quot; Memoire                    0.0    0.0  ...    0.0    0.0
&quot;Bungaku Shoujo&quot; Movie                      0.0    0.0  ...    0.0    0.0
&quot;Eiji&quot;                                      0.0    0.0  ...    0.0    0.0

[5 rows x 8713 columns]

In [ ]:
from scipy.sparse import csr_matrix

anime_matrix = csr_matrix(anime_pivot.values)

anime_matrix

<9785x8713 sparse matrix of type '<class 'numpy.float64'>'
	with 3179693 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(anime_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
query_index = 30
print(query_index)
distances, indices = model_knn.kneighbors(anime_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)
print(distances)
print(indices)

30
[[2.22044605e-16 6.95137891e-01 6.99472764e-01 7.35150853e-01
  7.35812689e-01 7.35897706e-01]]
[[  30 1940 8840 4195  769  539]]

In [ ]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Collaborative filtering Recommendations using k-Nearest Neighbors for {0}:\n'.format(anime_pivot.index[query_index]))
        print("   name                         distance")
    else:
        print('{0}: {1}  {2}'.format(i, anime_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Collaborative filtering Recommendations using k-Nearest Neighbors for 1001 Nights:

   name                         distance
1: Doujouji  0.6951378907399183
2: Tori no Uta  0.6994727644692178
3: Kataku  0.7351508534365385
4: Bavel no Hon  0.7358126894960499
5: Aru Tabibito no Nikki Specials  0.7358977060716129